1. Create a function to perform basic arithmetic operations that includes
addition, subtraction, multiplication and division on a string number (e.g. &quot;12 +
24&quot; or &quot;23 - 21&quot; or &quot;12 // 12&quot; or &quot;12 * 21&quot;).
Here, we have 1 followed by a space, operator followed by another space
and 2. For the challenge, we are going to have only two numbers between 1
valid operator. The return value should be a number.
eval() is not allowed. In case of division, whenever the second number equals
&quot;0&quot; return -1.
For example:
&quot;15 // 0&quot; ➞ -1
Examples
arithmetic_operation(&quot;12 + 12&quot;) ➞ 24 // 12 + 12 = 24
arithmetic_operation(&quot;12 - 12&quot;) ➞ 24 // 12 - 12 = 0
arithmetic_operation(&quot;12 * 12&quot;) ➞ 144 // 12 * 12 = 144
arithmetic_operation(&quot;12 // 0&quot;) ➞ -1 // 12 / 0 = -1

In [37]:
def arithmetic_operation(a):
    try:
        operand1=int(str.split(a," ")[0])
        operand2=int(str.split(a," ")[2])
        operator=str.split(a," ")[1]

        if(operator=="+"):
            return operand1 + operand2
        elif(operator=="-"):
            return operand1 - operand2
        elif(operator=="*"):
            return operand1 * operand2
        elif(operator =="/"):
            if(operand2==0):
                return -1
            else:
                return(operand1/operand2)
    
    except Exception as e:
        print(e)

In [38]:
arithmetic_operation("12 / 0")

-1

In [39]:
arithmetic_operation("12 + 12")

24

2. Write a function that takes the coordinates of three points in the form of a
2d array and returns the perimeter of the triangle. The given points are the
vertices of a triangle on a two-dimensional plane.
Examples
perimeter( [ [15, 7], [5, 22], [11, 1] ] ) ➞ 47.08
perimeter( [ [0, 0], [0, 1], [1, 0] ] ) ➞ 3.42
perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] ) ➞ 68.28

In [49]:
import numpy as np
import math

In [58]:
def perimeter(a1):
    try:
        a = math.sqrt(math.pow(a1[0][0]-a1[1][0],2)+math.pow(a1[0][1]-a1[1][1],2))
        b = math.sqrt(math.pow(a1[0][0]-a1[2][0],2)+math.pow(a1[0][1]-a1[2][1],2))
        c = math.sqrt(math.pow(a1[1][0]-a1[2][0],2)+math.pow(a1[1][1]-a1[2][1],2))
        p=a+b+c
        return p
    except Exception as e:
        print(e)

In [60]:
perimeter([ [0, 0], [0, 1], [1, 0] ])

3.414213562373095

In [61]:
perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] )

68.2842712474619

3. A city skyline can be represented as a 2-D list with 1s representing
buildings. In the example below, the height of the tallest building is 4 (second-
most right column).
[[0, 0, 0, 0, 0, 0],
[0, 0, 0, 0, 1, 0],
[0, 0, 1, 0, 1, 0],
[0, 1, 1, 1, 1, 0],

[1, 1, 1, 1, 1, 1]]
Create a function that takes a skyline (2-D list of 0&#39;s and 1&#39;s) and returns the
height of the tallest skyscraper.
Examples
tallest_skyscraper([
[0, 0, 0, 0],
[0, 1, 0, 0],
[0, 1, 1, 0],
[1, 1, 1, 1]
]) ➞ 3
tallest_skyscraper([
[0, 1, 0, 0],
[0, 1, 0, 0],
[0, 1, 1, 0],
[1, 1, 1, 1]
]) ➞ 4
tallest_skyscraper([
[0, 0, 0, 0],
[0, 0, 0, 0],
[1, 1, 1, 0],
[1, 1, 1, 1]
]) ➞ 2

In [60]:
import numpy as np

def tallest_skyscraper(a):
    try:
        skyline = np.array(a)
        a = len(skyline[0])
        b = len(skyline)
        l=[]
        for i in range(a):
            sum=0
            for j in range(b):
                sum =sum + skyline[j][i]
            l.append(sum)
        return(max(l))
    except Exception as e:
        print(e)

In [61]:
tallest_skyscraper([[0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 1, 0], [0, 0, 1, 0, 1, 0], [0, 1, 1, 1, 1, 0],[1, 1, 1, 1, 1, 1]])

4

In [62]:
tallest_skyscraper([ [0, 0, 0, 0], [0, 0, 0, 0], [1, 1, 1, 0], [1, 1, 1, 1] ])

2

In [63]:
tallest_skyscraper([ [0, 1, 0, 0], [0, 1, 0, 0], [0, 1, 1, 0], [1, 1, 1, 1] ])

4

In [64]:
tallest_skyscraper([ [0, 0, 0, 0], [0, 0, 0, 0], [1, 1, 1, 0], [1, 1, 1, 1] ])

2

4. A financial institution provides professional services to banks and claims
charges from the customers based on the number of man-days provided.
Internally, it has set a scheme to motivate and reward staff to meet and
exceed targeted billable utilization and revenues by paying a bonus for each
day claimed from customers in excess of a threshold target.
This quarterly scheme is calculated with a threshold target of 32 days per
quarter, and the incentive payment for each billable day in excess of such
threshold target is shown as follows:
Days Bonus
0 to 32 days Zero
33 to 40 days SGD$325 per billable day
41 to 48 days SGD$550 per billable day
Greater than 48 days SGD$600 per billable day

Please note that incentive payment is calculated progressively. As an
example, if an employee reached total billable days of 45 in a quarter, his/her
incentive payment is computed as follows:
32*0 + 8*325 + 5*550 = 5350
Write a function to read the billable days of an employee and return the bonus
he/she has obtained in that quarter.
Examples
bonus(15) ➞ 0
bonus(37) ➞ 1625
bonus(50) ➞ 8200

In [87]:
def bonus(d):
    try:
        bonus=0
        if (d<=32):
            bonus=0
        elif (d>=33) & (d<40):
            bonus = bonus +325*(d-32)
        elif (d>=41) & (d<48):
            bonus = bonus + 325*8+550*(d-40)
        elif (d>=48):
            bonus = bonus + 325*8+8*550+600*(d-48)
        return (bonus)
    except Exception as e:
        print(e)

In [88]:
bonus(15)

0

In [89]:
bonus(37)

1625

In [90]:
bonus(45)

5350

In [91]:
bonus(50)

8200

5. A number is said to be Disarium if the sum of its digits raised to their
respective positions is the number itself.
Create a function that determines whether a number is a Disarium or not.
Examples
is_disarium(75) ➞ False
# 7^1 + 5^2 = 7 + 25 = 32
is_disarium(135) ➞ True
# 1^1 + 3^2 + 5^3 = 1 + 9 + 125 = 135
is_disarium(544) ➞ False
is_disarium(518) ➞ True
is_disarium(466) ➞ False

In [25]:
def is_disarium(a):
    try:
        l=len(str(a))
        p=1
        sum=0
        x = [int(a) for a in str(a)]
        while(p<=1):
            for i in range(len(x)):
                sum = sum+math.pow(x[i],p)
                p=p+1
        if(sum==a):
            return True
        else:
            return False
    except Exception as e:
        print(e)

In [26]:
is_disarium(135)

True

In [27]:
is_disarium(75)

False

In [28]:
is_disarium(544)

False

In [29]:
is_disarium(518)

True

In [30]:
is_disarium(466)

False