In [ ]:
Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing
white spaces from the right side.

SELECT RTRIM(FIRST_NAME) from WORKER

In [ ]:
Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker
table and prints its length.

SELECT DISTINCT(DEPARMENT),LENGTH(DEPARTMENT) FROM WORKER

In [ ]:
Q-3. Write an SQL query to fetch nth max salaries from a table.
WITH CTE as (SELECT *, DENSE_RANK() OVER (ORDER BY SALARY DESC) AS DR FROM WORKER) SELECT * FROM CTE WHERE DR=n